Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/FirstPerson/
Content/ParagonShinbi/
Content/Geometry/
Content/FirstPersonCPP/
Content/Assets/HUD/
